.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  .score-level-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .score-body {
    background-color: $white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px 30px 40px 30px;
    width: 100%;
    max-width: 450px;
    z-index: 1;
  }

  .centerImg {
    display: block;
    width: 80px;
    height: 80px;
    margin: 2rem auto;
    clear: both;
  }
  .score {
    font-size: 60px;

    span {
      font-size: 24px;
    }
  }
  .scoreText {
    font-family: 'GT Walsheim Pro Black';
    font-size: 12px;
  }

  .closeBtn {
    color: $font-main;
    background-color: transparent;
    margin-left: 70%;
    width: 100px;
    padding: 0%;
    border: none;
  }

  .btn-dark {
    margin-top: 30px;
  }

  @media only screen and (min-width: 900px) {
    height: 100vh;
  }
}
